---
const pageTitle = "Home page"
---

<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

	<title>{pageTitle}</title>
	<h1>{pageTitle}</h1>

	<p>Welcome to the home page</p>
</body>
